<h1 class='page-header'>Log Game</h1>

<%= form_for :games, url: games_url  do |f| %>
	<div class="form-group">
		<div class="col-lg-10">
			<%= f.label(:lms_type, "Date Played") %>
			<%= f.date_select :date_played, :start_year => Date.current.year, :end_year => 1920 %>
		</div>
	</div>
	<div class="form-group">
		<div class="col-lg-10">
			<%= f.label(:lms_type, "Opponent") %>
			<%= f.select :opponent_user_id, User.where('id != ?',current_user.id).all.map { |user| [ user.email ]} %>
		</div>
	</div>
	<div class="form-group">
		<div class="col-lg-10">
			<%= f.label(:score, "Your Score") %>
			<%= f.text_field(:score, class: "form-control", placeholder: "00", required: true) %>
		</div>
	</div>
	<div class="form-group">
		<div class="col-lg-10">
			<%= f.label(:opponent_score, "Their Score") %>
			<%= f.text_field(:opponent_score, class: "form-control", placeholder: "00", required: true) %>
		</div>
	</div>
	<div class="form-group">
      <div class="col-lg-offset-2 col-lg-10">
        <%= f.submit "Save", class: "btn btn-success" %>
        <%= f.label(:lms_type, "Cancel") %>
      </div>
    </div>
<% end %>
